
<section class="d-flex justify-content-center justify-content-evenly mt-5">

  <div class="border border-dark w-25 rounded-3">
    <p class="text-center" [textContent]="tareasTotales"></p>
    <p class="text-center">Total</p>
  </div>

  <div class="border border-dark w-25 rounded-3">
    <p class="text-center" [textContent]="tareasEnCurso"></p>
    <p class="text-center">En Curso</p>
  </div>

  <div class="border border-dark w-25 rounded-3">
    <p class="text-center" [textContent]="tareasFinalizadas"></p>
    <p class="text-center">Finalizadas</p>
  </div>

</section>
